{% extends 'home/home_base.html' %} {% block title %}{{current_user.name}}'S
Profile{% endblock %}




{% block main %}

<div class="container_update">

<div class="container_form">

    {% for message in get_flashed_messages()
        %}
        
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        
        {% endfor %}
        {% if name_to_update %}
<h5>{{current_user.name}}</h5>
<br /><br />
<table class="table table-hover table-bordered table-striped">
  {% for name_to_update in name_to_update %}
  <tr>
    <td>
      {{ name_to_update.id }}. <a href="">{{ name_to_update.name }}</a> - {{
      name_to_update.email }}
    </td>
  </tr>

  {% endfor %}
</table>

{% else %}
<h5>{{current_user.name}}</h5>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
      
        <br />
        <div class="container_pic">
            {% if current_user.profile_pic %}
            <img
              src="{{ url_for('static', filename='img/' + current_user.profile_pic)}}"
              class="img-fluid"
           
            />
            <h5> Name:{{current_user.name}}</h5>
             <h5>Email:{{current_user.email}}</h5>
            
            {% else %}
            <img
              src="{{ url_for('static', filename='img/default.png') }}"
              alt=""
            />
            {% endif %}
        </div>
        <div class="shadow p-4 mb-7 bg-body rounded">
          <form
            method="POST"
            action="/update_profile/{{name.id}}"
            enctype="multipart/form-data"
          >
          
        
          <br>
            {{ form.hidden_tag() }} {{ form.name.label(class="form-label") }} {{
            form.name(class="form-control",value=name.name) }}
            <br />
            {{ form.email.label(class="form-label") }} {{
            form.email(class="form-control", value=name.email) }}
            <br />
            {{ form.profile_pic.label(class="form-label") }} {{
            form.profile_pic(class="form-control", value=name.email) }}
            <br />
            
            <br />
            <br />
            
           
            <div class="btn_bottom_right">
                <a href="{{url_for('home')}}" class="btn btn-outline-secondary m-2"
                  >Back</a
                >
                  </div>
                  <div class="btn_bottom_left">
                    <button type="submit" class="btn btn-outline-secondary ">
                        Update
                      </button>
                <a
                  href="{{url_for('delete_profile', id=name.id)}}"
                  class="btn btn-outline-danger m-2"
                  >Delete</a
                >
                  </div>
                  <br />
                  <br />
                  <br />
          </form>
        <br />
        <br />

  
        </div>
      </div>
    </div>
  </div>
{% endif %} 
<br/>
<br/>
<br/>
</div>

</div>
{% endblock %}
