

{% extends 'home/home_base.html' %}

{% block title %} Blogs {% endblock %}

{% block main %} 
{% for message in get_flashed_messages()%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}
{{ ckeditor.load() }}
<div class="shadow p-4 mb-5 bg-white rounded">


<br/>


<div class="shadow p-4 mb-1 bg-white rounded">
<h2>{{post.title}}</h2>
<br/>
{{post.body | safe}}
<br/>
<br/>
<small>By: {{post.poster.name}}</small>
<br/>
<small>Date: {{post.date_created}} </small>
<br/>

</div>

<br/>
<a href="{{url_for('blogs_internal')}}" class="btn btn-outline-secondary btn-sm ">Back To Blogs</a>
{% if post.poster_id ==current_user.id %}
<a href="{{url_for('update_blogs_internal', id=post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
<a href="{{url_for('delete_blog_internal', id=post.id)}}" class="btn btn-outline-danger btn-sm">Delete</a>
{% endif %}
<br/>
</div>

{% endblock %}

