


{% extends 'web_index/base.html' %}

{% block content %}
<div class="container_addpost">
 
   

{% for message in get_flashed_messages()%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}
<hr/>
<div class="form">

<form action="{{url_for('add_post')}}" method="post">
   {{form.hidden_tag()}}


    <div class="form-group">
     {{form.title.label(class="form-label")}}
     {{form.title (class="form-control")}}
    </div>
    <div class="form-group">
     {{form.body.label (class="form-label")}}
     {{form.body (class="form-control", rows="5")}}
    </div>
    <div class="form-group">
     {{form.slug.label(class="form-label")}}
     {{form.slug (class="form-control")}}
    </div>

    <br/>
    <br/>
    <div class="form-group">
     {{form.submit( class="btn btn-outline-secondary btn-sm")}}
    </div>


  </form>
  {{ ckeditor.load() }}
  {{ ckeditor.config(name='body') }}
</div>
<hr/>


</div>




{% endblock %}